In [1]:
import pandas as pd
import numpy as np

In [2]:
# import dataset
data = pd.read_csv(r"C:\Users\Admin\Desktop\Desmondonam\Denaco Analytics\Python, MySQL, ML\Week 5-20240203T161326Z-001\Week 5\Scripts\data.csv")

In [3]:
data.head()

   ID        Age        Income  Gender   City Product_Type  Purchase_Amount
0   1  37.483571           NaN  Female  CityA            B      1284.100850
1   2  34.308678  59178.619471  Female  CityC            B       885.850741
2   3  38.238443  71221.561970  Female  CityB            A       833.528885
3   4  42.615149  60324.652606     NaN  CityB            C      1094.283111
4   5  33.829233  34806.300340  Female  CityB            A       889.555391